* {
  font-family: "FontAwesome";
  font-size: 15px;
  color: white;
}

window#waybar {
  background-color: rgba(5, 5, 5, 1);
}
#workspaces,
#clock,
#tray,
#pulseaudio,
#battery,
#custom-power {
  background-color: rgb(28, 28, 28);
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
}

#tray {
  margin-right: 7px;
}

#clock {
  background-color: rgba(5, 5, 5, 1);
  font-size: 16px;
}

#pulseaudio {
  margin-right: 7px;
}

#battery {
  margin-right: 7px;
}

#custom-power {
  padding-left: 8.5px;
  margin-right: 3px;
}

#workspaces {
  margin-left: 3px;
}

#workspaces button.active {
  background-color: rgb(75, 75, 75);
}


