@import "colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "CaskaydiaCove Nerd Font", sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: @surface_container;
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #aaa;
}

#workspaces button.active {
  background-color: @tertiary_container;
  color: #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#temperature,
#network,
#tray,
#wireplumber {
  padding: 0 15px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-power {
  background-color: @surface_variant;
}

#clock {
  background-color: @surface_variant;
}

#battery {
  background-color: @surface_variant;
  color: #fff;
}

#battery.critical:not(.charging) {
  background-color: @error;
  color: #ffffff;
}

label:focus {
  background-color: @surface_variant;
}

#network {
  background-color: @surface_variant;
}

#network.disconnected {
  background-color: @error;
}

#temperature {
  background-color: @surface_variant;
}

#temperature.critical {
  background-color: @error;
}

#tray {
  background-color: @surface_variant;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#wireplumber {
  color: #fff;
  background-color: @surface_variant;
}
