#outer-box {
	border: 2px solid #ffffff;
	border-radius: 5px;
  padding: 7px;
}

#window {
	background-color: #000000;
}

#text {
	font-family: "Input Sans Narrow";
}

#text:selected {
	color: #000000;
}

#input {
	margin: 4px;
	border: 2px solid #ffffff;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 1);
  color: white;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 5px 7px;
  color: #cccccc;
}

#entry:selected {
	background-color: #ffffff;
	border-radius: 4px;
}
