* {
	border-radius: 7px;
	border: none;
}

#inner-box {
	margin: 5px;
}

window {
	font-size: 20px;
	font-family: "JetBrains Mono Nerd";
	background-color: #000000;
	color: #AAAAAA;
}

#entry{
	padding: 20px;
}

#entry:selected {
	background-color: #000000;
}

#text:selected {
	color: #FFFFFF;
}

#input {
	background-color: #000000;
	color: #FFFFFF;
	padding: 0.25em;
}